<%= link_to "criar produto", new_product_path %>

<% @products.each do |product|%>

<p> <%= product.name %></p>
<p> <%= product.price %></p>
<p> <%= product.quantity %></p>

<%= link_to "ver produto", product %>
<%= link_to "editar produto", edit_product_path(product) %>
<%= button_to "apagar", product, method: :delete, onclick: "return confirm('Você quer apagar este produto?')" %>

<% end %>

